[submodule "libraries/multiapk.library"]
	path = libraries/multiapk.library
	url = https://github.com/multiapk/multiapk.library.git
[submodule "libraries/multiapk.plugin"]
	path = libraries/multiapk.plugin
	url = https://github.com/multiapk/multiapk.plugin.git
