<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.multiapk.modules.order">

    <application
        android:name="com.multiapk.modules.order.OrderApplication"
        tools:replace="android:name">
        <activity android:name=".OrderActivity" />
    </application>

</manifest>